<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/aos.css" />
    <link rel="stylesheet" href="/css/font/flaticon.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    
  </head>
  <body>
    <header   class="header-2">
      <div class="header__logo-box">
        <img src="/images/logo.png" class="header__logo" alt="logo" />
        <h2 class="header__org-name">Developer Students Club</h2>
      </div>
     
      <span>
      
        <i class="flaticon-plus-symbol-button "></i>
        <i class="flaticon-plus-1 plus-2"> </i>
      </span>
      <div class="intro">
        <nav class="user-nav">
          <ul class="user-nav__list">
            <li class="user-nav__item">
              <a href="/" class="user-nav__link">Home</a>
            </li>
            <li class="user-nav__item">
              <a href="/about" class="user-nav__link">About</a>
            </li>
            <li class="user-nav__item">
              <a href="/events" class="user-nav__link active">Events</a>
            </li>

            <li class="user-nav__item">
              <a href="/faq" class="user-nav__link">FAQ</a>
            </li>
            <li class="user-nav__item">
              <a href="/contact" class="user-nav__link">Contact us</a>
            </li>
          </ul>
        </nav>
        <div class="header-2__img">
          <img src="/images/undraw_Taking_notes_re_bnaf.svg" alt="event" />
        </div>
      </div>

      <!-- <div class="header__gif-1">
        <img src="/images/d04d34c8a3d532c9a0d53396744c7d04.gif" alt="">
      </div> -->

    </header>

    <main>
      <section data-aos="fade-up" class="events-heading">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga
          distinctio dolorem mollitia itaque cumque, repudiandae suscipit est
          nesciunt eos. Provident hic vero dolores alias qui deleniti debitis,
          explicabo ut magni?
        </p>
      </section>

      <section data-aos="fade-up" class="upcoming-events">
        <div data-aos="fade-up"  class="upcoming-events__heading"> 
          <i class="flaticon-right-arrow"></i>
          <h2 >  Upcoming Events</h2>
        </div>
     
       

          <div class="  carousel" 
          data-flickity='{ "cellAlign": "left", "autoPlay" : true , "freeScroll": true ,"prevNextButtons": true}'>
            <!-- <div  class="cards"> -->
            <!-- card 1 -->
          
         
            <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">24</span>
              <span class="card-date-month">OCT</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/cs.jpg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                Introduction to Cybersecurity
                  
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
               <p> This grid is an attempt to make something nice that works on touch devices.
                </p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="#" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
           </div>
      


        <!-- card-2 -->
      
          <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">14</span>
              <span class="card-date-month">OCT</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/HF thumbnail.jpg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                 Hacktoberfest
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
              <p>This grid is an attempt to make something nice that works on touch devices. 
                </p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="#" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
          </div>
    


        <!-- card-3 -->
      
          <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">10</span>
              <span class="card-date-month">OCT</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/icon.jpg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                 Getting started with google cloud
                
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
              <p>  This grid is an attempt to make something nice that works on touch devices. 
                </p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="#" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
          </div>
                                                                                                                                                                                                   

<!-- 
        card-4 -->
        
          <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">28</span>
              <span class="card-date-month">SEP</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/info.jpg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                Info session
                  
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
              <p>  This grid is an attempt to make something nice that works on touch devices. 
               <p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="#" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
          </div>
                                                                                                                                                                                                  


        
          <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">10</span>
              <span class="card-date-month">OCT</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/events.svg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                  Card title
                 
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
              <p>  This grid is an attempt to make something nice that works on touch devices. 
               <p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="#" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
          </div>
                                                                                                                                                                                                     


      
          <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">10</span>
              <span class="card-date-month">OCT</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/events.svg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                  Card title
                 
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
              <p> This grid is an attempt to make something nice that works on touch devices. 
                 </p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="#" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
          </div>
                                                                                                                                                                                                    

     </div>
      

        <div data-aos="fade-left" class="upcoming-events__bg">
          <img src="/images/screen_3x.webp" alt="">
        </div>
      </section>

      <div data-aos="fade-up" class=" row events-illustration">
        <img src="/images/event-photo.svg" alt="">
      </div>
      <section data-aos="fade-up" class="past-events">
        
        <div data-aos="fade-right" class="past-events__bg">
                    <img src="/images/screen_3x.webp" alt="">
        </div> 
     
       

        <div data-aos="fade-up"  class="past-events__heading"> 
          <i class="flaticon-right-arrow"></i>
          <h2 >  Past Events</h2>
        </div>

        <div class="cards">

          <div  class="carousel" data-flickity='{ "cellAlign": "left","autoPlay" : true,"freeScroll": true ,"prevNextButtons": true}'>
         

            <% events.forEach(function (event) { %>
            <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day"><%=event.date%></span>
              <span class="card-date-month"><%=event.month%></span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/upload/<%=event.event_image%>" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                <%=event.event_name%>
                  
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
               <p> 
                <%=event.event_info%>
                </p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="/events/<%=event.event_name %></a>" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
           </div>
        
           <% }) %>

<!--       
       
          <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">14</span>
              <span class="card-date-month">OCT</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/HF thumbnail.jpg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                 Hacktoberfest
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
              <p>This grid is an attempt to make something nice that works on touch devices. 
                </p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="#" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
          </div>
       


      
          <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">10</span>
              <span class="card-date-month">OCT</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/icon.jpg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                 Getting started with google cloud
                
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
              <p>  This grid is an attempt to make something nice that works on touch devices. 
                </p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="/event" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
          </div>
                                                                                                                                                                                                      


     
          <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">28</span>
              <span class="card-date-month">SEP</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/info.jpg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                Info session
                  
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
              <p>  This grid is an attempt to make something nice that works on touch devices. 
               <p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="#" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
          </div>
                                                                                                                                                                                                     


      
          <div  class="carousel-cell">
          <div class="event-card">
            <div class="date">
              <span class="card-date-day">10</span>
              <span class="card-date-month">OCT</span>
            </div>
            <div class="event-card__image-holder">
              <img class="event-card__image" src="/images/events.svg" alt="wave" />
            </div>
            <div class="event-title">
              <a href="#" class="toggle-info card-btn">
                <span class="left"></span>
                <span class="right"></span>
              </a>
              <h3>
                  Card title
                 
              </h3>
            </div>
            <div class="card-flap flap1">
              <div class="event-description">
              <p>  This grid is an attempt to make something nice that works on touch devices. 
               <p>
              </div>
              <div class="card-flap flap2">
                <div class="card-actions">
                  <a href="#" class="card-btn">Read more</a>
                </div>
              </div>
            </div>
          </div>
          </div>
                                                                                                                                                                                                      
      
      
            <div  class="carousel-cell">
            <div class="event-card">
              <div class="date">
                <span class="card-date-day">10</span>
                <span class="card-date-month">OCT</span>
              </div>
              <div class="event-card__image-holder">
                <img class="event-card__image" src="/images/events.svg" alt="wave" />
              </div>
              <div class="event-title">
                <a href="#" class="toggle-info card-btn">
                  <span class="left"></span>
                  <span class="right"></span>
                </a>
                <h3>
                    Card title
                   
                </h3>
              </div>
              <div class="card-flap flap1">
                <div class="event-description">
                <p> This grid is an attempt to make something nice that works on touch devices. 
                   </p>
                </div>
                <div class="card-flap flap2">
                  <div class="card-actions">
                    <a href="#" class="card-btn">Read more</a>
                  </div>
                </div>
              </div>
            </div>
            </div> -->
                                                                                                                                                                                                       
                                 
       

      
     </div>
        </div>
      </section>


      <%-include("../partials/footer.ejs")%>
